body{
    font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    margin: 0;
    color:#252529;
    line-height: 1.6;
   
}

a{
    text-decoration: none;
    color: #ccc;

}
#showcase{
    margin: 0;
    padding: 0;
    background: wheat;
    /* background:url(background.jpg) no-repeat center/cover; */
    width: 100;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}

#showcase .container{
    margin-top: 25vh;
}

#showcase h1{ 
    font-size: 4rem;
    margin-bottom: 0;
}

#showcase h2{
    font-size: 2rem;
}

nav{
    height: 50px;
    width: 100%;
    background-color: #333;
    color: rgb(51,34,34);
    position: fixed;
}

nav{
    margin:0;
    padding:0;
}

nav li{
    display: inline;
    float: left;
}

nav a{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #eee;
}

nav li:hover{
    background-color: #444;
}

.container{
    max-width: 1100px;
    text-align: center;
    word-wrap: break-word;
    margin: auto;
    padding: 0 3rem;
}

.lead{
    font-size: 1.3rem;
}

footer .footer-cols{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}

footer .footer-cols ul{
    list-style-type: none;
  
}

footer .footer-cols ul li:first-child{
    font-size: 1.1rem;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 1rem;
}

footer .footer-bottom{
    background-color:white;
    text-align: center;

}

footer .footer-cols ul li a{
    color: rgb(16, 192, 69);
}